html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body.loading:after {
  display: block;
  position: fixed;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #fff url(loading.gif) no-repeat center;
  opacity: 0.75;
  filter: alpha(opacity=75);
  z-index: 1;
}

.page-header h1 {
  font-family: "Arial Black", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -3px;
}

/* See https://github.com/twbs/bootstrap/pull/9171 */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* Fix for weird Bootstrap styling issue */
@media all and (max-width: 767px) {
  .navbar-nav {
    margin: 0;
  }
}
